#contact input {
  border-bottom: 2px solid;
}
#contact select:focus {
  outline-width: 0;
}
#contact select option.branding:hover {
}

#contact input:focus {
  outline-width: 0;
}

.contact-submit {
  background-color: #fe0072;
  color: #fff;
}
.contact-submit:hover {
  background-color: #ce055f;
  color: #fff;
}

#contact .contact-header {
  width: 90%;
}

#contact .shrink {
  transform: scale(0.9);
}

@media only screen and (min-width: 1024px) {
  #contact .contact-header {
    width: 70%;
  }
}
