body {
  /* font-family: "Montserrat", sans-serif; */
}
h1 {
  /* font-size: 64px; */
}

#empty-state .empty-state-image {
  width: 70%;
}
@media only screen and (min-width: 768px) {
  #empty-state .empty-state-image {
    width: 40%;
  }
}
@media only screen and (min-width: 1024px) {
  #empty-state .empty-state-image {
    width: 35%;
  }
}
/* @media only screen and (min-width: 1440px) {
  #empty-state .empty-state-image {
    width: 35%;
  }
} */
.Toastify__toast-container {
  width: 320px;
}
.Toastify__toast--default {
  background: #fff;
  color: #aaa;
}
.Toastify__toast--info {
  background: #3498db;
}
.Toastify__toast--success {
  background: #07bc0c;
}
.Toastify__toast--warning {
  background: #f1c40f;
}
.Toastify__toast--error {
  background: #e74c3c;
}
